<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBDct_YYQ0Ag7qWgxDlGssNxbT8X5JikvY</string>
	<key>GCM_SENDER_ID</key>
	<string>396341180526</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kimdanil.ToDoList</string>
	<key>PROJECT_ID</key>
	<string>swiftuitodolist-b94c3</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuitodolist-b94c3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:396341180526:ios:9810393162f3019129ce7f</string>
</dict>
</plist>